

.float-container {
  height: 100px;
  padding: 20px;
}

.float-child {
  float: left;
  height: 100px;
  width: 30rem;
  padding: 20px;
  
  .child-title {
    float: top;
    padding: 10px;
  }

}

