

.sentiment-container {
  height: 100px;
  width: 500px;
  padding: 20px;

}
.sentiment {
  display: inline;
  background:transparent;
  border: 0;
  width: 20%;
}

.sentiment-container img{
  width: 100%;
}